---
import '../styles/reset.css';
import '../styles/style.css';
---
<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>template.html</title>
</head>

<body>
	<header>
		<h1>TO DO</h1>
		<p>今日は<span>12</span>月<span>11</span>日</p>
	</header>
	<main>
		<section>
			<h2>新しく追加する</h2>
			<div class="todo-container">
				<div class="todo-item">
					<ul class="todo-item-title">
						<li>優先度</li>
						<li>登録日</li>
						<li>カテゴリ</li>
						<li>アイテム名</li>
						<li>期日</li>
					</ul>
					<ul class="todo-item-list">
						<li>高</li>
						<li>10月10日</li>
						<li>おしごと</li>
						<li>やるべきことをやるためのTODOリスト</li>
						<li>12月12日</li>
						<li>追加</li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<h2>未完了のTODO</h2>
			<div class="todo-container">
				<div class="todo-item">
					<ul class="todo-item-title">
						<li>優先度</li>
						<li>登録日</li>
						<li>カテゴリ</li>
						<li>アイテム名</li>
						<li>期日</li>
					</ul>
					<ul class="todo-item-list">
						<li>高</li>
						<li>10月10日</li>
						<li>おしごと</li>
						<li>やるべきことをやるためのTODOリスト</li>
						<li>12月12日</li>
						<li>完了</li>
						<li>削除</li>
					</ul>
					<ul class="todo-item-list">
						<li>高</li>
						<li>10月10日</li>
						<li>おしごと</li>
						<li>やるべきことをやるためのTODOリスト</li>
						<li>12月12日</li>
						<li>完了</li>
						<li>削除</li>
					</ul>
					<ul class="todo-item-list">
						<li>高</li>
						<li>10月10日</li>
						<li>おしごと</li>
						<li>やるべきことをやるためのTODOリスト</li>
						<li>12月12日</li>
						<li>完了</li>
						<li>削除</li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<h2>完了したTODO</h2>
			<div class="todo-container">
				<div class="todo-item">
					<ul class="todo-item-title">
						<li>優先度</li>
						<li>登録日</li>
						<li>カテゴリ</li>
						<li>アイテム名</li>
						<li>期日</li>
					</ul>
					<ul class="todo-item-list">
						<li>高</li>
						<li>10月10日</li>
						<li>おしごと</li>
						<li>やるべきことをやるためのTODOリスト</li>
						<li>12月12日</li>
						<li>戻す</li>
						<li>削除</li>
					</ul>
					<ul class="todo-item-list">
						<li>高</li>
						<li>10月10日</li>
						<li>おしごと</li>
						<li>やるべきことをやるためのTODOリスト</li>
						<li>12月12日</li>
						<li>戻す</li>
						<li>削除</li>
					</ul>
					<ul class="todo-item-list">
						<li>高</li>
						<li>10月10日</li>
						<li>おしごと</li>
						<li>やるべきことをやるためのTODOリスト</li>
						<li>12月12日</li>
						<li>戻す</li>
						<li>削除</li>
					</ul>
				</div>
			</div>
		</section>
	</main>
</body>
</html>