@charset "UTF-8";

/* リセットCSS */
body, ol, ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

/* 共通 */
* {
  box-sizing: border-box;
  font-family: 'メイリオ', Meiryo,YuGothic,'Yu Gothic','Yu Gothic UI', sans-serif;

}

/* タイマー */
.timer_container {
  position: absolute;
  top: 18px;
  left: -300px;
  color: #707070;
}

.timer, .time {
  font-size: 1.5rem;
}

/* カレンダー */
.month_box {
  font-size: 21px;
  font-weight: bold;
  color: #707070;
  display: flex;
  align-items: center;
  width: 480px;
  margin: 0 auto;
  position: relative;
}

.pointer {
  cursor: pointer;
}

.us-no {
  user-select: none;
}

.month_now {
  display: grid;
  width: 250px;
  margin: 0 auto;
  border-bottom: 1px solid #707070;
  place-content: center;
  color: #707070;
}

.month_now .span{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: bottom;
  margin: 0 5px;
}

.month {
  font-size: 40px;
  font-weight: bold;
}

.calendar, .week, .days {
  display: grid;
}

.calendar {
  place-items: center ;
}

.week {
  grid-template-columns: 160px 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 50px;
  font-size: 21px;
  font-weight: bold;
  color: #7ccc47;
  border: 1px solid #7ccc47;
  margin: -1px;
}

.week>div {
  border: 1px solid #7ccc47;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.days {
  grid-template-columns: 160px 160px 160px 160px 160px 160px 160px;
  grid-auto-rows: minmax(100px, auto);
  grid-column-start: 1;
  font-size: 29px;
  font-weight: bold;
  color: #7ccc47;
  border: 1px solid #7ccc47;
  margin: -1px;
}

.days>div {
  padding-top: 5px;
  padding-left: 15px;
  border: 1px solid #7ccc47;
}

.days>div>ul>li {
  font-size: 1rem;
}

.days>div>ul>li::before {
  content: "・";
}

.sunday {
  color: #FF6464;
}

.saturday {
  color: #9999FF;
}

.blank {
  background-color: antiquewhite;
}

.today {
  background-color: aliceblue;
}

.days ul li span {
  display: inline-block;
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  background-color: antiquewhite;
  border-radius: 50%;
  margin-left: 10px;
  padding-top: 1px;
}

#form_close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.modal_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
}

.form_wrap {
  width: 500px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 1);
}

.regi_date {
  font-size: 30px;
  font-weight: bold;
  color: #707070;
  text-align: center;
  margin-bottom: 15px;
}

.item_name {
  font-size: 28px;
  font-weight: bold;
  color: #707070;
}

.priority_wrap, .taskname_wrap, .duedate_wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 20px;
}

.priority_list, #calendar_taskname {
  width: var(--item-width);
  font-size: 22px;
  border-radius: 10px;
  padding-right: 5px;
}

.taskname_wrap > label {
  padding-top: 10px;
}

.priority_list {
  text-align-last: end;
}

.duedate-month, .duedate-day {
  font-size: 22px;
  border-radius: 10px;
  text-align: end;
  padding-right: 5px;
  height: 40px;
}

#calendar_taskname {
  height: 120px;
  padding: 10px 10px 10px 15px;
  line-height: 35px;
}

.modal_btn {
  text-align: end;
}

.modal_btn > input {
  font-size: 25px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  margin-right: 25px;
}

.modal_bg {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

/* TODO */
.todo_wrap {
  width: 1220px;
  margin: 30px auto 0;
}

h1 {
  width: 100%;
  margin: 10px;
  font-size: 28px;
  padding-left: 20px;
  border: 1px solid black;
}

/* inputFormArea */
#inputFormArea {
  display: flex;
  margin: 20px 50px 0;
}

#inputFormArea h2 {
  width: 80px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 20px;
  display: grid;
  place-items: center;
  font-size: 1rem;
}

.todo_wrap form {
  width: 1010px;
  height: 90px;
  background-color: #faebd7;
  display: flex;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

#inputFormArea form div {
  margin-right: 10px;
}

#inputFormArea form div p,
#inputFormArea form div label {
  color: #707070;
  font-weight: bold;
  padding-left: 20px;
}

#inputFormArea form div:first-of-type p {
  text-align: center;
  padding-left: 0;
}

#inputFormArea form div:nth-of-type(2), #inputFormArea form div:nth-of-type(4) {
  width: 140px;
}

#inputFormArea form div span {
  color: #707070;
  font-weight: bold;
}

#inputFormArea form select {
  border-radius: 20px;
}

#inputFormArea form .todo_priority {
  width: 70px;
  height: 40px;
  padding-left: 30%;
  font-size: 1rem;
}

#inputFormArea form .setup-date-month,
#inputFormArea form .setup-date-day,
#inputFormArea form .limit-date-month,
#inputFormArea form .limit-date-day {
  width: 50px;
  height: 40px;
  padding-left: 5%;
}

#inputFormArea form select option {
  margin: 0 auto;
}

#inputFormArea form div input[type="text"] {
  width: 450px;
  height: 40px;
  border-width: 1px;
  border-radius: 20px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 1rem;
}

#inputFormArea form input[type="submit"],
#inputFormArea form input[type="reset"] {
  width: 70px;
  height: 40px;
  border-width: 1px;
  border-radius: 20px;
  display: grid;
  place-items: center;
  background-color: white;
  margin-top: 25px;
  font-size: 1rem;
}

#inputFormArea form input[type="submit"] {
  margin-right: 10px;
}

/* 二つのTaskAreaのボックスの大きさなど */
.taskarea {
  width: 1140px;
  margin: 10px auto;
  background-color: #faebd7;
  border-radius: 20px;
  color: #707070;
  padding: 10px 20px;
}

.taskarea h2 {
  font-size: 1rem;
  padding-left: 10px;
  margin-bottom: 10px;
}

.taskarea--block,
.taskarea--block ul {
  display: flex;
}

.taskarea--block {
  width: 1100px;
  height: 60px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.upper-btn, .lower-btn {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: white;
  color: #707070;
  font-size: 27px;
  display: grid;
  place-items: center;
  padding: 0;
  margin-right: 5px;
}

.taskarea--block ul li {
  border: 1px solid black;
  border-radius: 20px;
  margin-right: 10px;
  padding-left: 20px;
  line-height: 40px;
}

.taskarea--block ul li:nth-of-type(1) {
  width: 70px;
  padding-left: 25px;
}

.taskarea--block ul li:nth-of-type(2),
.taskarea--block ul li:nth-of-type(4) {
  width: 140px;
}

.taskarea--block ul li:nth-of-type(3) {
  width: 450px;
}

.completed-btn,
.delete-btn,
.return-btn {
  width: 70px;
  height: 40px;
  border-width: 1px;
  border-radius: 20px;
  display: grid;
  place-items: center;
  background-color: white;
  margin-right: 10px;
  font-size: 1rem;
}

.delete-btn {
  margin-right: 0px;
}
